.wrapper
    display: flex
    flex-direction: column
    height: 100%
    
.user
    display: flex
    flex-direction: column
    margin: 0
    align-items: center
    background-color: #00b2ee
    width: 100%
    padding: 50px    

.userName
    margin: 30px
    margin-bottom: 10px
    font-size: 45px

.pic
    height: 250rpx
    width: 250rpx
    border-radius: 50%

.box1
   width: 100%
   padding-left: 50px
   font-size: 40px
   margin: 10px 0

.divLine0
    background: #E0E3DA
    width: 100%
    height: 4rpx
    margin: 100px 0 0

.divLine
    background: #E0E3DA
    width: 100%
    height: 4rpx
    margin: 0

